body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #218380;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 1em;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.starter-card {
    margin-top: 15%;
    border-radius: 1em;
    padding: 2em 2em;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 8px 5px 10px rgb(197, 197, 197);
}

button {
    background-color: #218380;
    border: none;
    font-size: 16px;
    padding: 1em;
    color: white;
    border-radius: .5em;
}